In [1]:
import oracledb
import pandas as pd

In [3]:
!which python

/opt/anaconda3/bin/python

In [8]:

dsn = oracledb.makedsn("dbhost.students.cs.ubc.ca", 1522, service_name="stu")
connection = oracledb.connect(user="ora_ahoang05", password="a44232551", dsn=dsn)
print("Connected!")

Connected!

In [9]:
cursor = connection.cursor()

In [10]:
query = """
SELECT * 
FROM ExpendituresByType
"""
cursor.execute(query)
data = cursor.fetchall()
df = pd.DataFrame(data)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,1980,253.2,232.7,214.3,100.5,64.5,47.7,3.5,13.3,8.4,...,23.2,12.0,4.1,7.1,2.8,9.1,6.4,20.6,5.4,15.1
1,1990,718.7,670.2,611.9,250.4,207.9,159.0,17.3,31.6,23.8,...,72.5,40.3,13.8,18.5,7.2,31.1,20.0,48.6,12.7,35.9
2,2000,1366.0,1280.3,1156.5,415.5,387.0,288.2,36.6,62.1,63.5,...,173.2,122.0,26.0,25.2,17.2,63.6,43.0,85.7,25.5,60.2
3,2001,1483.4,1393.4,1256.5,449.4,420.7,312.7,40.3,67.7,69.5,...,192.0,140.6,25.3,26.1,19.7,70.4,46.8,90.0,28.5,61.5
4,2002,1631.0,1529.6,1365.5,486.5,454.7,337.7,43.3,73.6,76.0,...,217.4,159.8,29.6,27.9,22.7,89.1,52.2,101.5,32.0,69.4

In [4]:
connection.close()