In [2]:
import pandas as pd
import numpy as np

In [3]:
disease_data = pd.read_csv('IHME-GBD_2021_DATA-72716b14-1/IHME-GBD_2021_DATA-72716b14-1.csv')
disease_data.head()

,measure_name,cause_id,cause_name,metric_name,year,val,upper,lower
0,Deaths,410,Neoplasms,Number,1980,451711.372800,463715.356900,429850.261000
1,Deaths,410,Neoplasms,Rate,1980,196.520742,201.743174,187.009885
2,Deaths,344,Neglected tropical diseases and malaria,Number,1980,125.931132,136.190930,115.011189
3,Deaths,344,Neglected tropical diseases and malaria,Rate,1980,0.054787,0.059251,0.050037
4,Deaths,626,Musculoskeletal disorders,Number,1980,4875.554196,5017.673641,4627.440970

In [52]:
for index, row in disease_data.iterrows():
    print(f"INSERT INTO Disease VALUES('{row['measure_name']}', {row['cause_id']}, '{row['cause_name']}', '{row['metric_name']}', {row['year']}, {row['val']}, {row['upper']}, {row['lower']});")

INSERT INTO Disease VALUES('Deaths', 410, 'Neoplasms', 'Number', 1980, 451711.3728, 463715.3569, 429850.261);
INSERT INTO Disease VALUES('Deaths', 410, 'Neoplasms', 'Rate', 1980, 196.5207416, 201.7431735, 187.0098854);
INSERT INTO Disease VALUES('Deaths', 344, 'Neglected tropical diseases and malaria', 'Number', 1980, 125.9311324, 136.19093, 115.0111885);
INSERT INTO Disease VALUES('Deaths', 344, 'Neglected tropical diseases and malaria', 'Rate', 1980, 0.054787373, 0.059250982, 0.050036562);
INSERT INTO Disease VALUES('Deaths', 626, 'Musculoskeletal disorders', 'Number', 1980, 4875.554196, 5017.673641, 4627.44097);
INSERT INTO Disease VALUES('Deaths', 626, 'Musculoskeletal disorders', 'Rate', 1980, 2.121149885, 2.182980117, 2.013206189);
INSERT INTO Disease VALUES('Deaths', 640, 'Other non-communicable diseases', 'Number', 1980, 36121.38113, 36877.06716, 34833.87815);
INSERT INTO Disease VALUES('Deaths', 640, 'Other non-communicable diseases', 'Rate', 1980, 15.71490345, 16.04367086, 15.1547647);
INSERT INTO Disease VALUES('Deaths', 955, 'HIV/AIDS and sexually transmitted infections', 'Number', 1980, 285.084076, 309.9968456, 260.3081669);
INSERT INTO Disease VALUES('Deaths', 955, 'HIV/AIDS and sexually transmitted infections', 'Rate', 1980, 0.124028168, 0.134866673, 0.113249205);
INSERT INTO Disease VALUES('Deaths', 956, 'Respiratory infections and tuberculosis', 'Number', 1980, 52334.97483, 54919.07414, 47658.82051);
INSERT INTO Disease VALUES('Deaths', 956, 'Respiratory infections and tuberculosis', 'Rate', 1980, 22.76876051, 23.89299413, 20.73436118);
INSERT INTO Disease VALUES('Deaths', 957, 'Enteric infections', 'Number', 1980, 726.9819424, 763.1795585, 683.5250296);
INSERT INTO Disease VALUES('Deaths', 957, 'Enteric infections', 'Rate', 1980, 0.316279463, 0.332027533, 0.297373176);
INSERT INTO Disease VALUES('Deaths', 961, 'Other infectious diseases', 'Number', 1980, 5534.719091, 5649.473422, 5372.9502);
INSERT INTO Disease VALUES('Deaths', 961, 'Other infectious diseases', 'Rate', 1980, 2.407924985, 2.457849799, 2.337546101);
INSERT INTO Disease VALUES('Deaths', 962, 'Maternal and neonatal disorders', 'Number', 1980, 24667.41189, 25274.0701, 24057.91271);
INSERT INTO Disease VALUES('Deaths', 962, 'Maternal and neonatal disorders', 'Rate', 1980, 10.73176008, 10.99569172, 10.46659246);
INSERT INTO Disease VALUES('Deaths', 973, 'Substance use disorders', 'Number', 1980, 9481.248876, 9757.822602, 9183.742901);
INSERT INTO Disease VALUES('Deaths', 973, 'Substance use disorders', 'Rate', 1980, 4.124895172, 4.245220842, 3.995462755);
INSERT INTO Disease VALUES('Deaths', 974, 'Diabetes and kidney diseases', 'Number', 1980, 57998.87545, 60157.04587, 53834.18457);
INSERT INTO Disease VALUES('Deaths', 974, 'Diabetes and kidney diseases', 'Rate', 1980, 25.23288698, 26.17181674, 23.42100402);
INSERT INTO Disease VALUES('Deaths', 386, 'Nutritional deficiencies', 'Number', 1980, 1518.372198, 1589.993417, 1380.546467);
INSERT INTO Disease VALUES('Deaths', 386, 'Nutritional deficiencies', 'Rate', 1980, 0.660580292, 0.691739691, 0.600618076);
INSERT INTO Disease VALUES('Deaths', 491, 'Cardiovascular diseases', 'Number', 1980, 925426.8076, 961525.4513, 848262.494);
INSERT INTO Disease VALUES('Deaths', 491, 'Cardiovascular diseases', 'Rate', 1980, 402.6145311, 418.3195424, 369.0435629);
INSERT INTO Disease VALUES('Deaths', 526, 'Digestive diseases', 'Number', 1980, 74214.0412, 76359.53466, 70430.32913);
INSERT INTO Disease VALUES('Deaths', 526, 'Digestive diseases', 'Rate', 1980, 32.28742798, 33.22084252, 30.64129298);
INSERT INTO Disease VALUES('Deaths', 696, 'Unintentional injuries', 'Rate', 1980, 20.58059246, 21.05955958, 19.73297995);
INSERT INTO Disease VALUES('Deaths', 542, 'Neurological disorders', 'Number', 1980, 94683.69789, 213801.4721, 40013.0208);
INSERT INTO Disease VALUES('Deaths', 542, 'Neurological disorders', 'Rate', 1980, 41.19292019, 93.01608592, 17.40799324);
INSERT INTO Disease VALUES('Deaths', 558, 'Mental disorders', 'Number', 1980, 27.38159187, 31.21912255, 23.75748089);
INSERT INTO Disease VALUES('Deaths', 558, 'Mental disorders', 'Rate', 1980, 0.011912586, 0.013582136, 0.010335887);
INSERT INTO Disease VALUES('Deaths', 717, 'Self-harm and interpersonal violence', 'Number', 1980, 55738.56599, 56325.77553, 55104.85268);
INSERT INTO Disease VALUES('Deaths', 717, 'Self-harm and interpersonal violence', 'Rate', 1980, 24.24952079, 24.50499112, 23.97381861);
INSERT INTO Disease VALUES('Deaths', 508, 'Chronic respiratory diseases', 'Number', 1980, 68236.761, 70124.61445, 64708.44139);
INSERT INTO Disease VALUES('Deaths', 508, 'Chronic respiratory diseases', 'Rate', 1980, 29.68696315, 30.50828929, 28.15193873);
INSERT INTO Disease VALUES('Deaths', 653, 'Skin and subcutaneous diseases', 'Number', 1980, 2065.217202, 2155.739444, 1906.267558);
INSERT INTO Disease VALUES('Deaths', 653, 'Skin and subcutaneous diseases', 'Rate', 1980, 0.898489701, 0.937872145, 0.829337353);
INSERT INTO Disease VALUES('Deaths', 344, 'Neglected tropical diseases and malaria', 'Number', 1985, 110.7100026, 119.9330189, 102.053557);
INSERT INTO Disease VALUES('Deaths', 344, 'Neglected tropical diseases and malaria', 'Rate', 1985, 0.045871383, 0.049692831, 0.042284687);
INSERT INTO Disease VALUES('Deaths', 688, 'Transport injuries', 'Number', 1980, 60354.96433, 60984.1583, 59598.07243);
INSERT INTO Disease VALUES('Deaths', 688, 'Transport injuries', 'Rate', 1980, 26.25792279, 26.53165879, 25.92863076);
INSERT INTO Disease VALUES('Deaths', 696, 'Unintentional injuries', 'Number', 1980, 47305.3765, 48406.30302, 45357.10271);
INSERT INTO Disease VALUES('Deaths', 526, 'Digestive diseases', 'Number', 1985, 75286.41764, 77769.20013, 70632.96603);
INSERT INTO Disease VALUES('Deaths', 526, 'Digestive diseases', 'Rate', 1985, 31.1940386, 32.22275022, 29.26593584);
INSERT INTO Disease VALUES('Deaths', 696, 'Unintentional injuries', 'Rate', 1985, 17.54143874, 17.99997627, 16.70970326);
INSERT INTO Disease VALUES('Deaths', 717, 'Self-harm and interpersonal violence', 'Number', 1985, 54562.48368, 55048.81398, 53984.08009);
INSERT INTO Disease VALUES('Deaths', 717, 'Self-harm and interpersonal violence', 'Rate', 1985, 22.60732115, 22.80882637, 22.36766645);
INSERT INTO Disease VALUES('Deaths', 410, 'Neoplasms', 'Number', 1985, 505011.472, 518599.9537, 477470.7307);
INSERT INTO Disease VALUES('Deaths', 410, 'Neoplasms', 'Rate', 1985, 209.2455431, 214.8757702, 197.834362);
INSERT INTO Disease VALUES('Deaths', 626, 'Musculoskeletal disorders', 'Number', 1985, 5364.351985, 5539.725455, 5072.502869);
INSERT INTO Disease VALUES('Deaths', 626, 'Musculoskeletal disorders', 'Rate', 1985, 2.222655933, 2.295319861, 2.101731697);
INSERT INTO Disease VALUES('Deaths', 640, 'Other non-communicable diseases', 'Number', 1985, 39328.29576, 40225.92591, 37639.21784);
INSERT INTO Disease VALUES('Deaths', 640, 'Other non-communicable diseases', 'Rate', 1985, 16.29521518, 16.66713764, 15.59536568);
INSERT INTO Disease VALUES('Deaths', 955, 'HIV/AIDS and sexually transmitted infections', 'Number', 1985, 5984.23564, 6003.009971, 5965.708936);
INSERT INTO Disease VALUES('Deaths', 955, 'HIV/AIDS and sexually transmitted infections', 'Rate', 1985, 2.47949741, 2.487276332, 2.471821089);
INSERT INTO Disease VALUES('Deaths', 956, 'Respiratory infections and tuberculosis', 'Number', 1985, 64536.64864, 67936.40357, 57892.08511);
INSERT INTO Disease VALUES('Deaths', 956, 'Respiratory infections and tuberculosis', 'Rate', 1985, 26.73999868, 28.14864701, 23.98690221);
INSERT INTO Disease VALUES('Deaths', 957, 'Enteric infections', 'Number', 1985, 616.044168, 646.815812, 576.0739763);
INSERT INTO Disease VALUES('Deaths', 957, 'Enteric infections', 'Rate', 1985, 0.25525063, 0.268000498, 0.238689453);
INSERT INTO Disease VALUES('Deaths', 961, 'Other infectious diseases', 'Number', 1985, 6680.408199, 6812.359714, 6459.30844);
INSERT INTO Disease VALUES('Deaths', 961, 'Other infectious diseases', 'Rate', 1985, 2.767948293, 2.822620846, 2.676338217);
INSERT INTO Disease VALUES('Deaths', 962, 'Maternal and neonatal disorders', 'Number', 1985, 20912.81136, 21428.87374, 20382.96516);
INSERT INTO Disease VALUES('Deaths', 962, 'Maternal and neonatal disorders', 'Rate', 1985, 8.664976566, 8.878800924, 8.445441048);
INSERT INTO Disease VALUES('Deaths', 973, 'Substance use disorders', 'Number', 1985, 10631.93898, 10976.09639, 10318.41903);
INSERT INTO Disease VALUES('Deaths', 973, 'Substance use disorders', 'Rate', 1985, 4.405218433, 4.547815997, 4.275315143);
INSERT INTO Disease VALUES('Deaths', 974, 'Diabetes and kidney diseases', 'Number', 1985, 63090.29378, 65638.26621, 58181.0261);
INSERT INTO Disease VALUES('Deaths', 974, 'Diabetes and kidney diseases', 'Rate', 1985, 26.14071862, 27.19644092, 24.10662149);
INSERT INTO Disease VALUES('Deaths', 491, 'Cardiovascular diseases', 'Number', 1985, 923482.3328, 963725.9987, 839669.6338);
INSERT INTO Disease VALUES('Deaths', 491, 'Cardiovascular diseases', 'Rate', 1985, 382.6340054, 399.3084934, 347.9072028);
INSERT INTO Disease VALUES('Deaths', 386, 'Nutritional deficiencies', 'Number', 1985, 1987.146467, 2099.515358, 1773.693348);
INSERT INTO Disease VALUES('Deaths', 386, 'Nutritional deficiencies', 'Rate', 1985, 0.823350686, 0.86990941, 0.734908905);
INSERT INTO Disease VALUES('Deaths', 542, 'Neurological disorders', 'Number', 1985, 110228.5939, 248209.9541, 45942.48255);
INSERT INTO Disease VALUES('Deaths', 542, 'Neurological disorders', 'Rate', 1985, 45.67191692, 102.842865, 19.03572542);
INSERT INTO Disease VALUES('Deaths', 558, 'Mental disorders', 'Number', 1985, 22.51001901, 24.88089937, 19.55667129);
INSERT INTO Disease VALUES('Deaths', 558, 'Mental disorders', 'Rate', 1985, 0.009326761, 0.010309107, 0.008103076);
INSERT INTO Disease VALUES('Deaths', 508, 'Chronic respiratory diseases', 'Number', 1985, 88548.52282, 91332.37882, 82914.26163);
INSERT INTO Disease VALUES('Deaths', 508, 'Chronic respiratory diseases', 'Rate', 1985, 36.68903535, 37.84249323, 34.35454573);
INSERT INTO Disease VALUES('Deaths', 653, 'Skin and subcutaneous diseases', 'Number', 1985, 3006.66977, 3161.058931, 2724.614092);
INSERT INTO Disease VALUES('Deaths', 653, 'Skin and subcutaneous diseases', 'Rate', 1985, 1.245778134, 1.30974746, 1.128911692);
INSERT INTO Disease VALUES('Deaths', 410, 'Neoplasms', 'Number', 1983, 479894.7645, 493307.9136, 455411.3154);
INSERT INTO Disease VALUES('Deaths', 410, 'Neoplasms', 'Rate', 1983, 202.7237734, 208.3899411, 192.3811368);
INSERT INTO Disease VALUES('Deaths', 688, 'Transport injuries', 'Number', 1985, 53528.48108, 54064.10096, 52710.47503);
INSERT INTO Disease VALUES('Deaths', 688, 'Transport injuries', 'Rate', 1985, 22.17889438, 22.40082215, 21.83996323);
INSERT INTO Disease VALUES('Deaths', 696, 'Unintentional injuries', 'Number', 1985, 42336.04054, 43442.71508, 40328.6575);
INSERT INTO Disease VALUES('Deaths', 626, 'Musculoskeletal disorders', 'Number', 1983, 5191.42942, 5359.614133, 4915.55146);
INSERT INTO Disease VALUES('Deaths', 626, 'Musculoskeletal disorders', 'Rate', 1983, 2.193035306, 2.264082214, 2.076495128);
INSERT INTO Disease VALUES('Deaths', 640, 'Other non-communicable diseases', 'Number', 1983, 36788.35954, 37602.31194, 35485.46296);
INSERT INTO Disease VALUES('Deaths', 640, 'Other non-communicable diseases', 'Rate', 1983, 15.54064686, 15.88448787, 14.99025929);
INSERT INTO Disease VALUES('Deaths', 955, 'HIV/AIDS and sexually transmitted infections', 'Number', 1983, 2818.089568, 2839.949757, 2797.355503);
INSERT INTO Disease VALUES('Deaths', 955, 'HIV/AIDS and sexually transmitted infections', 'Rate', 1983, 1.190456311, 1.199690794, 1.181697541);
INSERT INTO Disease VALUES('Deaths', 956, 'Respiratory infections and tuberculosis', 'Number', 1983, 54227.61599, 57118.30297, 48893.16722);
INSERT INTO Disease VALUES('Deaths', 956, 'Respiratory infections and tuberculosis', 'Rate', 1983, 22.90757839, 24.1287023, 20.65412688);
INSERT INTO Disease VALUES('Deaths', 957, 'Enteric infections', 'Number', 1983, 657.605898, 691.6626488, 614.5111446);
INSERT INTO Disease VALUES('Deaths', 957, 'Enteric infections', 'Rate', 1983, 0.277794965, 0.292181687, 0.259590284);
INSERT INTO Disease VALUES('Deaths', 961, 'Other infectious diseases', 'Number', 1983, 5832.902178, 5947.35949, 5639.911365);
INSERT INTO Disease VALUES('Deaths', 961, 'Other infectious diseases', 'Rate', 1983, 2.464015086, 2.512365725, 2.382489242);
INSERT INTO Disease VALUES('Deaths', 962, 'Maternal and neonatal disorders', 'Number', 1983, 21284.20207, 21782.60136, 20822.537);
INSERT INTO Disease VALUES('Deaths', 962, 'Maternal and neonatal disorders', 'Rate', 1983, 8.991166559, 9.20170727, 8.796143625);
INSERT INTO Disease VALUES('Deaths', 973, 'Substance use disorders', 'Number', 1983, 9556.14159, 9857.378795, 9259.026535);
INSERT INTO Disease VALUES('Deaths', 973, 'Substance use disorders', 'Rate', 1983, 4.036837294, 4.164090074, 3.91132585);
INSERT INTO Disease VALUES('Deaths', 974, 'Diabetes and kidney diseases', 'Number', 1983, 60232.93206, 62548.14827, 55586.9631);
INSERT INTO Disease VALUES('Deaths', 974, 'Diabetes and kidney diseases', 'Rate', 1983, 25.44442693, 26.42245254, 23.48181257);
INSERT INTO Disease VALUES('Deaths', 410, 'Neoplasms', 'Number', 1981, 459493.9201, 471915.7681, 437049.4886);
INSERT INTO Disease VALUES('Deaths', 410, 'Neoplasms', 'Rate', 1981, 197.9529803, 203.3043935, 188.2837727);
INSERT INTO Disease VALUES('Deaths', 491, 'Cardiovascular diseases', 'Number', 1981, 921407.9901, 958438.8355, 843464.9585);
INSERT INTO Disease VALUES('Deaths', 491, 'Cardiovascular diseases', 'Rate', 1981, 396.948577, 412.9017069, 363.3702101);
INSERT INTO Disease VALUES('Deaths', 344, 'Neglected tropical diseases and malaria', 'Number', 1983, 118.3612726, 127.9188354, 107.7983847);
INSERT INTO Disease VALUES('Deaths', 344, 'Neglected tropical diseases and malaria', 'Rate', 1983, 0.049999803, 0.054037241, 0.045537682);
INSERT INTO Disease VALUES('Deaths', 491, 'Cardiovascular diseases', 'Number', 1983, 921554.6311, 960349.3172, 840316.5046);
INSERT INTO Disease VALUES('Deaths', 491, 'Cardiovascular diseases', 'Rate', 1983, 389.2958333, 405.6840203, 354.9781021);
INSERT INTO Disease VALUES('Deaths', 508, 'Chronic respiratory diseases', 'Number', 1981, 70812.66463, 72843.78065, 66857.66799);
INSERT INTO Disease VALUES('Deaths', 508, 'Chronic respiratory diseases', 'Rate', 1981, 30.50655818, 31.38157622, 28.80271981);
INSERT INTO Disease VALUES('Deaths', 653, 'Skin and subcutaneous diseases', 'Number', 1981, 2158.386021, 2255.05286, 1986.472973);
INSERT INTO Disease VALUES('Deaths', 653, 'Skin and subcutaneous diseases', 'Rate', 1981, 0.929846788, 0.971491493, 0.855785524);
INSERT INTO Disease VALUES('Deaths', 386, 'Nutritional deficiencies', 'Number', 1983, 1724.38586, 1818.002273, 1551.009702);
INSERT INTO Disease VALUES('Deaths', 386, 'Nutritional deficiencies', 'Rate', 1983, 0.728438887, 0.767985626, 0.655198937);
INSERT INTO Disease VALUES('Deaths', 626, 'Musculoskeletal disorders', 'Number', 1981, 4995.784186, 5152.537138, 4740.889936);
INSERT INTO Disease VALUES('Deaths', 626, 'Musculoskeletal disorders', 'Rate', 1981, 2.152216439, 2.219746634, 2.042406332);
INSERT INTO Disease VALUES('Deaths', 640, 'Other non-communicable diseases', 'Number', 1981, 35703.20139, 36456.38778, 34534.24456);
INSERT INTO Disease VALUES('Deaths', 640, 'Other non-communicable diseases', 'Rate', 1981, 15.38117223, 15.70564984, 14.87757799);
INSERT INTO Disease VALUES('Deaths', 542, 'Neurological disorders', 'Number', 1983, 103949.5022, 234280.1534, 43494.24355);
INSERT INTO Disease VALUES('Deaths', 542, 'Neurological disorders', 'Rate', 1983, 43.9117842, 98.96785766, 18.37343898);
INSERT INTO Disease VALUES('Deaths', 558, 'Mental disorders', 'Number', 1983, 24.71305984, 27.783655, 21.24986372);
INSERT INTO Disease VALUES('Deaths', 558, 'Mental disorders', 'Rate', 1983, 0.010439632, 0.011736755, 0.008976661);
INSERT INTO Disease VALUES('Deaths', 386, 'Nutritional deficiencies', 'Number', 1981, 1559.012038, 1636.846859, 1412.766326);
INSERT INTO Disease VALUES('Deaths', 386, 'Nutritional deficiencies', 'Rate', 1981, 0.671632563, 0.705164312, 0.608628956);
INSERT INTO Disease VALUES('Deaths', 955, 'HIV/AIDS and sexually transmitted infections', 'Number', 1981, 1947.355554, 1972.507599, 1923.857465);
INSERT INTO Disease VALUES('Deaths', 955, 'HIV/AIDS and sexually transmitted infections', 'Rate', 1981, 0.838933485, 0.84976915, 0.828810355);
INSERT INTO Disease VALUES('Deaths', 956, 'Respiratory infections and tuberculosis', 'Number', 1981, 51876.88381, 54516.81102, 47070.29752);
INSERT INTO Disease VALUES('Deaths', 956, 'Respiratory infections and tuberculosis', 'Rate', 1981, 22.34890019, 23.48619807, 20.27819144);
INSERT INTO Disease VALUES('Deaths', 957, 'Enteric infections', 'Number', 1981, 701.6199731, 737.1485713, 658.1661579);
INSERT INTO Disease VALUES('Deaths', 957, 'Enteric infections', 'Rate', 1981, 0.302262465, 0.317568417, 0.283542277);
INSERT INTO Disease VALUES('Deaths', 961, 'Other infectious diseases', 'Number', 1981, 5764.693471, 5883.649944, 5591.621719);
INSERT INTO Disease VALUES('Deaths', 961, 'Other infectious diseases', 'Rate', 1981, 2.483467578, 2.534714804, 2.408907138);
INSERT INTO Disease VALUES('Deaths', 962, 'Maternal and neonatal disorders', 'Number', 1981, 23456.37389, 23997.45597, 22851.06714);
INSERT INTO Disease VALUES('Deaths', 962, 'Maternal and neonatal disorders', 'Rate', 1981, 10.10515899, 10.33826069, 9.844388892);
INSERT INTO Disease VALUES('Deaths', 973, 'Substance use disorders', 'Number', 1981, 9443.208345, 9727.840768, 9149.439953);
INSERT INTO Disease VALUES('Deaths', 973, 'Substance use disorders', 'Rate', 1981, 4.068195799, 4.190817305, 3.941638458);
INSERT INTO Disease VALUES('Deaths', 974, 'Diabetes and kidney diseases', 'Number', 1981, 58337.80276, 60552.02235, 54034.88108);
INSERT INTO Disease VALUES('Deaths', 974, 'Diabetes and kidney diseases', 'Rate', 1981, 25.13230625, 26.0862065, 23.2785795);
INSERT INTO Disease VALUES('Deaths', 508, 'Chronic respiratory diseases', 'Number', 1983, 78513.56999, 80935.88343, 73942.57418);
INSERT INTO Disease VALUES('Deaths', 508, 'Chronic respiratory diseases', 'Rate', 1983, 33.16678645, 34.19005354, 31.23584328);
INSERT INTO Disease VALUES('Deaths', 653, 'Skin and subcutaneous diseases', 'Number', 1983, 2472.998143, 2590.899014, 2252.842347);
INSERT INTO Disease VALUES('Deaths', 653, 'Skin and subcutaneous diseases', 'Rate', 1983, 1.044678026, 1.09448334, 0.951676774);
INSERT INTO Disease VALUES('Deaths', 526, 'Digestive diseases', 'Number', 1983, 72945.98465, 75237.60086, 68797.04995);
INSERT INTO Disease VALUES('Deaths', 526, 'Digestive diseases', 'Rate', 1983, 30.81485017, 31.78290633, 29.06219988);
INSERT INTO Disease VALUES('Deaths', 696, 'Unintentional injuries', 'Rate', 1983, 18.28853722, 18.74081761, 17.46206992);
INSERT INTO Disease VALUES('Deaths', 717, 'Self-harm and interpersonal violence', 'Number', 1983, 53600.38413, 54136.70899, 53028.82604);
INSERT INTO Disease VALUES('Deaths', 717, 'Self-harm and interpersonal violence', 'Rate', 1983, 22.64261445, 22.8691762, 22.40116899);
INSERT INTO Disease VALUES('Deaths', 542, 'Neurological disorders', 'Number', 1981, 97796.68014, 220805.9009, 41141.29901);
INSERT INTO Disease VALUES('Deaths', 542, 'Neurological disorders', 'Rate', 1981, 42.13144821, 95.12462351, 17.72394018);
INSERT INTO Disease VALUES('Deaths', 558, 'Mental disorders', 'Number', 1981, 25.79860344, 29.22144368, 22.3136673);
INSERT INTO Disease VALUES('Deaths', 558, 'Mental disorders', 'Rate', 1981, 0.011114207, 0.012588789, 0.009612874);
INSERT INTO Disease VALUES('Deaths', 688, 'Transport injuries', 'Number', 1981, 58111.51279, 58721.30177, 57343.44104);
INSERT INTO Disease VALUES('Deaths', 688, 'Transport injuries', 'Rate', 1981, 25.03481905, 25.29752013, 24.70392873);

In [9]:
total_expenditures = pd.read_excel('nhe23-tables/table_1_totalexpenditures.xlsx')
total_expenditures.head()

,Year,Nationa_Health_Expenditures _Billions,Health_Consumption_Expenditures_Billions,Personal_Health_Care_Billions,Government_Administration_and_Net_Cost_of_Health_Insurance_Billions,Government_Public_Health_Activities_Billions,Investment_Billions
0,1980,253.2,232.7,214.3,11.9,6.4,20.6
1,1990,718.7,670.2,611.9,38.3,20.0,48.6
2,2000,1366.0,1280.3,1156.5,80.7,43.0,85.7
3,2001,1483.4,1393.4,1256.5,90.1,46.8,90.0
4,2002,1631.0,1529.6,1365.5,111.9,52.2,101.5

In [10]:
total_expenditures.columns

Index(['Year', 'Nationa_Health_Expenditures _Billions',
       'Health_Consumption_Expenditures_Billions',
       'Personal_Health_Care_Billions',
       'Government_Administration_and_Net_Cost_of_Health_Insurance_Billions',
       'Government_Public_Health_Activities_Billions', ' Investment_Billions'],
      dtype='object')

In [53]:
for index, row in total_expenditures.iterrows():
    print(f"INSERT INTO TotalExpenditure VALUES({int(row['Year'])}, {row['Nationa_Health_Expenditures _Billions']}, "
          f"{row['Health_Consumption_Expenditures_Billions']}, {row['Personal_Health_Care_Billions']}, "
          f"{row['Government_Administration_and_Net_Cost_of_Health_Insurance_Billions']}, "
          f"{row['Government_Public_Health_Activities_Billions']}, {row[' Investment_Billions']});")

INSERT INTO TotalExpenditure VALUES(1980, 253.2, 232.7, 214.3, 11.9, 6.4, 20.6);
INSERT INTO TotalExpenditure VALUES(1990, 718.7, 670.2, 611.9, 38.3, 20.0, 48.6);
INSERT INTO TotalExpenditure VALUES(2000, 1366.0, 1280.3, 1156.5, 80.7, 43.0, 85.7);
INSERT INTO TotalExpenditure VALUES(2001, 1483.4, 1393.4, 1256.5, 90.1, 46.8, 90.0);
INSERT INTO TotalExpenditure VALUES(2002, 1631.0, 1529.6, 1365.5, 111.9, 52.2, 101.5);
INSERT INTO TotalExpenditure VALUES(2003, 1770.4, 1661.8, 1475.9, 131.7, 54.2, 108.6);
INSERT INTO TotalExpenditure VALUES(2004, 1894.7, 1777.8, 1582.4, 140.4, 54.9, 116.9);
INSERT INTO TotalExpenditure VALUES(2005, 2026.6, 1901.0, 1693.8, 150.0, 57.3, 125.5);
INSERT INTO TotalExpenditure VALUES(2006, 2165.1, 2032.1, 1806.5, 164.8, 60.9, 133.0);
INSERT INTO TotalExpenditure VALUES(2007, 2305.5, 2159.3, 1921.5, 171.9, 66.0, 146.2);
INSERT INTO TotalExpenditure VALUES(2008, 2402.4, 2246.1, 2007.2, 167.4, 71.6, 156.3);
INSERT INTO TotalExpenditure VALUES(2009, 2492.7, 2345.5, 2105.5, 165.9, 74.2, 147.2);
INSERT INTO TotalExpenditure VALUES(2010, 2589.6, 2437.5, 2180.5, 181.4, 75.7, 152.1);
INSERT INTO TotalExpenditure VALUES(2011, 2676.5, 2517.8, 2253.9, 189.5, 74.4, 158.7);
INSERT INTO TotalExpenditure VALUES(2012, 2783.3, 2620.1, 2346.2, 196.7, 77.2, 163.2);
INSERT INTO TotalExpenditure VALUES(2013, 2855.9, 2692.9, 2404.8, 206.6, 81.5, 163.1);
INSERT INTO TotalExpenditure VALUES(2014, 3002.1, 2842.2, 2526.3, 231.5, 84.4, 159.9);
INSERT INTO TotalExpenditure VALUES(2015, 3165.5, 3000.7, 2673.0, 242.2, 85.5, 164.9);
INSERT INTO TotalExpenditure VALUES(2016, 3307.9, 3138.9, 2793.8, 255.2, 89.9, 169.0);
INSERT INTO TotalExpenditure VALUES(2017, 3446.4, 3263.1, 2901.3, 266.5, 95.4, 183.3);
INSERT INTO TotalExpenditure VALUES(2018, 3603.8, 3411.0, 3017.0, 294.8, 99.3, 192.7);
INSERT INTO TotalExpenditure VALUES(2019, 3762.1, 3563.8, 3172.8, 282.7, 108.2, 198.3);
INSERT INTO TotalExpenditure VALUES(2020, 4153.9, 3953.9, 3368.3, 344.8, 240.8, 199.9);
INSERT INTO TotalExpenditure VALUES(2021, 4327.7, 4109.2, 3581.3, 316.5, 211.4, 218.5);
INSERT INTO TotalExpenditure VALUES(2022, 4525.8, 4298.6, 3755.2, 336.5, 206.8, 227.2);
INSERT INTO TotalExpenditure VALUES(2023, 4866.5, 4627.7, 4107.4, 360.2, 160.2, 238.8);

In [56]:
expenditures_by_type = pd.read_excel('nhe23-tables/table_2_expenditures_by_type.xlsx')
print(expenditures_by_type.columns)
expenditures_by_type.head()

Index(['Year', 'National_Health_Expenditures_Billions',
       'Health_Consumption_Expenditures_Billions',
       'Personal_Health_Care_Billlions', 'Hospital_Care_Billions',
       'Professional_Services_Billions',
       'Physician_and_Clinical_Services_Billions',
       'Other_Professional_Services_Billions', 'Dental_Services_Billions',
       'Other_Health_Residential_and_Personal_Care_Billions',
       'Home_Health_Care_Billions',
       'Nursin_Care_Facilities_and_Continuing_Care_Retirement_Communities_Billions',
       'Retail_Outlet_Sales_of_Medical_Products_Billions',
       'Prescription_Drugs_Billions', 'Durable_Medical_Equipment_Billions',
       'Other_Non-Durable_Medical_Products_Billions',
       'Government_Administration_Billions',
       'Net_Cost_of_Health_Insurance_Billions',
       'Government_Public_Health_Activities_Billions', 'Investment_Billions',
       'Research_Billions', 'Structures_and_Equipment_Billions'],
      dtype='object')

,Year,National_Health_Expenditures_Billions,Health_Consumption_Expenditures_Billions,Personal_Health_Care_Billlions,Hospital_Care_Billions,Professional_Services_Billions,Physician_and_Clinical_Services_Billions,Other_Professional_Services_Billions,Dental_Services_Billions,Other_Health_Residential_and_Personal_Care_Billions,...,Retail_Outlet_Sales_of_Medical_Products_Billions,Prescription_Drugs_Billions,Durable_Medical_Equipment_Billions,Other_Non-Durable_Medical_Products_Billions,Government_Administration_Billions,Net_Cost_of_Health_Insurance_Billions,Government_Public_Health_Activities_Billions,Investment_Billions,Research_Billions,Structures_and_Equipment_Billions
0,1980,253.2,232.7,214.3,100.5,64.5,47.7,3.5,13.3,8.4,...,23.2,12.0,4.1,7.1,2.8,9.1,6.4,20.6,5.4,15.1
1,1990,718.7,670.2,611.9,250.4,207.9,159.0,17.3,31.6,23.8,...,72.5,40.3,13.8,18.5,7.2,31.1,20.0,48.6,12.7,35.9
2,2000,1366.0,1280.3,1156.5,415.5,387.0,288.2,36.6,62.1,63.5,...,173.2,122.0,26.0,25.2,17.2,63.6,43.0,85.7,25.5,60.2
3,2001,1483.4,1393.4,1256.5,449.4,420.7,312.7,40.3,67.7,69.5,...,192.0,140.6,25.3,26.1,19.7,70.4,46.8,90.0,28.5,61.5
4,2002,1631.0,1529.6,1365.5,486.5,454.7,337.7,43.3,73.6,76.0,...,217.4,159.8,29.6,27.9,22.7,89.1,52.2,101.5,32.0,69.4

In [54]:
for index, row in expenditures_by_type.iterrows():
    print(f"INSERT INTO ExpendituresByType VALUES({int(row['Year'])}, {row['National_Health_Expenditures_Billions']}, "
          f"{row['Health_Consumption_Expenditures_Billions']}, {row['Personal_Health_Care_Billlions']}, "
          f"{row['Hospital_Care_Billions']}, {row['Professional_Services_Billions']}, "
          f"{row['Physician_and_Clinical_Services_Billions']}, {row['Other_Professional_Services_Billions']}, "
          f"{row['Dental_Services_Billions']}, {row['Other_Health_Residential_and_Personal_Care_Billions']}, "
          f"{row['Home_Health_Care_Billions']}, {row['Nursin_Care_Facilities_and_Continuing_Care_Retirement_Communities_Billions']}, "
          f"{row['Retail_Outlet_Sales_of_Medical_Products_Billions']}, {row['Prescription_Drugs_Billions']}, "
          f"{row['Durable_Medical_Equipment_Billions']}, {row['Other_Non-Durable_Medical_Products_Billions']}, "
          f"{row['Government_Administration_Billions']}, {row['Net_Cost_of_Health_Insurance_Billions']}, "
          f"{row['Government_Public_Health_Activities_Billions']}, {row['Investment_Billions']}, "
          f"{row['Research_Billions']}, {row['Structures_and_Equipment_Billions']});")

INSERT INTO ExpendituresByType VALUES(1980, 253.2, 232.7, 214.3, 100.5, 64.5, 47.7, 3.5, 13.3, 8.4, 2.4, 15.3, 23.2, 12.0, 4.1, 7.1, 2.8, 9.1, 6.4, 20.6, 5.4, 15.1);
INSERT INTO ExpendituresByType VALUES(1990, 718.7, 670.2, 611.9, 250.4, 207.9, 159.0, 17.3, 31.6, 23.8, 12.5, 44.7, 72.5, 40.3, 13.8, 18.5, 7.2, 31.1, 20.0, 48.6, 12.7, 35.9);
INSERT INTO ExpendituresByType VALUES(2000, 1366.0, 1280.3, 1156.5, 415.5, 387.0, 288.2, 36.6, 62.1, 63.5, 32.3, 85.0, 173.2, 122.0, 26.0, 25.2, 17.2, 63.6, 43.0, 85.7, 25.5, 60.2);
INSERT INTO ExpendituresByType VALUES(2001, 1483.4, 1393.4, 1256.5, 449.4, 420.7, 312.7, 40.3, 67.7, 69.5, 34.3, 90.8, 192.0, 140.6, 25.3, 26.1, 19.7, 70.4, 46.8, 90.0, 28.5, 61.5);
INSERT INTO ExpendituresByType VALUES(2002, 1631.0, 1529.6, 1365.5, 486.5, 454.7, 337.7, 43.3, 73.6, 76.0, 36.5, 94.5, 217.4, 159.8, 29.6, 27.9, 22.7, 89.1, 52.2, 101.5, 32.0, 69.4);
INSERT INTO ExpendituresByType VALUES(2003, 1770.4, 1661.8, 1475.9, 525.9, 487.2, 364.3, 46.5, 76.3, 81.8, 40.2, 100.1, 240.7, 179.7, 30.7, 30.3, 25.4, 106.4, 54.2, 108.6, 34.8, 73.7);
INSERT INTO ExpendituresByType VALUES(2004, 1894.7, 1777.8, 1582.4, 565.3, 517.0, 384.6, 50.2, 82.2, 88.8, 44.6, 105.1, 261.6, 195.6, 33.2, 32.7, 27.3, 113.1, 54.9, 116.9, 38.6, 78.4);
INSERT INTO ExpendituresByType VALUES(2005, 2026.6, 1901.0, 1693.8, 608.6, 549.8, 409.8, 52.8, 87.2, 94.4, 49.3, 111.4, 280.3, 208.6, 36.2, 35.5, 28.4, 121.5, 57.3, 125.5, 40.3, 85.2);
INSERT INTO ExpendituresByType VALUES(2006, 2165.1, 2032.1, 1806.5, 651.2, 580.0, 433.0, 55.3, 91.8, 100.9, 52.1, 115.9, 306.4, 228.1, 39.6, 38.7, 29.0, 135.8, 60.9, 133.0, 41.2, 91.8);
INSERT INTO ExpendituresByType VALUES(2007, 2305.5, 2159.3, 1921.5, 691.9, 615.1, 457.3, 60.1, 97.7, 107.7, 57.5, 124.9, 324.4, 239.3, 43.4, 41.7, 29.3, 142.5, 66.0, 146.2, 42.6, 103.6);
INSERT INTO ExpendituresByType VALUES(2008, 2402.4, 2246.1, 2007.2, 721.6, 648.7, 481.5, 64.5, 102.8, 111.9, 62.2, 130.4, 332.3, 244.3, 42.6, 45.3, 29.4, 138.0, 71.6, 156.3, 44.3, 112.0);
INSERT INTO ExpendituresByType VALUES(2009, 2492.7, 2345.5, 2105.5, 771.0, 667.9, 497.5, 67.0, 103.4, 121.1, 67.0, 135.2, 343.3, 254.3, 41.4, 47.6, 29.7, 136.2, 74.2, 147.2, 45.3, 101.9);
INSERT INTO ExpendituresByType VALUES(2010, 2589.6, 2437.5, 2180.5, 808.8, 688.1, 512.4, 69.9, 105.9, 127.4, 70.5, 140.5, 345.1, 253.4, 40.0, 51.8, 30.3, 151.1, 75.7, 152.1, 49.1, 103.0);
INSERT INTO ExpendituresByType VALUES(2011, 2676.5, 2517.8, 2253.9, 833.2, 716.6, 535.8, 72.8, 108.0, 130.7, 74.6, 145.3, 353.5, 256.3, 40.6, 56.6, 33.0, 156.5, 74.4, 158.7, 49.6, 109.2);
INSERT INTO ExpendituresByType VALUES(2012, 2783.3, 2620.1, 2346.2, 878.0, 743.3, 557.1, 76.4, 109.7, 138.1, 78.1, 147.3, 361.5, 257.0, 43.3, 61.2, 34.3, 162.4, 77.2, 163.2, 48.4, 114.8);
INSERT INTO ExpendituresByType VALUES(2013, 2855.9, 2692.9, 2404.8, 906.8, 757.7, 568.3, 78.0, 111.4, 143.6, 81.0, 148.7, 367.1, 259.4, 44.2, 63.5, 37.5, 169.1, 81.5, 163.1, 46.7, 116.4);
INSERT INTO ExpendituresByType VALUES(2014, 3002.1, 2842.2, 2526.3, 940.5, 795.3, 598.3, 82.4, 114.7, 151.3, 84.7, 152.6, 401.8, 290.7, 45.0, 66.2, 41.8, 189.7, 84.4, 159.9, 46.0, 113.8);
INSERT INTO ExpendituresByType VALUES(2015, 3165.5, 3000.7, 2673.0, 989.0, 844.7, 637.4, 87.3, 120.0, 164.2, 89.6, 156.8, 428.8, 312.2, 46.3, 70.3, 41.8, 200.4, 85.5, 164.9, 46.4, 118.5);
INSERT INTO ExpendituresByType VALUES(2016, 3307.9, 3138.9, 2793.8, 1035.4, 895.1, 676.8, 92.1, 126.2, 174.2, 93.8, 162.0, 433.3, 313.3, 46.7, 73.3, 44.1, 211.1, 89.9, 169.0, 47.6, 121.4);
INSERT INTO ExpendituresByType VALUES(2017, 3446.4, 3263.1, 2901.3, 1077.6, 937.5, 709.4, 96.9, 131.1, 184.0, 99.4, 163.4, 439.5, 315.7, 47.5, 76.3, 44.1, 222.4, 95.4, 183.3, 50.9, 132.4);
INSERT INTO ExpendituresByType VALUES(2018, 3603.8, 3411.0, 3017.0, 1122.6, 977.9, 736.1, 104.5, 137.4, 189.9, 105.6, 167.6, 453.3, 322.7, 49.9, 80.7, 46.6, 248.2, 99.3, 192.7, 53.7, 139.0);
INSERT INTO ExpendituresByType VALUES(2019, 3762.1, 3563.8, 3172.8, 1193.6, 1022.3, 767.7, 110.9, 143.7, 194.9, 112.4, 174.1, 475.5, 337.3, 53.2, 85.1, 47.6, 235.1, 108.2, 198.3, 56.5, 141.8);
INSERT INTO ExpendituresByType VALUES(2020, 4153.9, 3953.9, 3368.3, 1267.6, 1071.3, 814.1, 118.0, 139.2, 210.7, 124.5, 194.7, 499.6, 351.0, 53.9, 94.7, 48.2, 296.6, 240.8, 199.9, 60.2, 139.7);
INSERT INTO ExpendituresByType VALUES(2021, 4327.7, 4109.2, 3581.3, 1334.0, 1169.4, 870.5, 134.5, 164.4, 225.9, 125.0, 182.2, 544.8, 374.3, 63.9, 106.5, 51.9, 264.6, 211.4, 218.5, 62.6, 155.9);
INSERT INTO ExpendituresByType VALUES(2022, 4525.8, 4298.6, 3755.2, 1376.7, 1216.8, 910.4, 142.7, 163.7, 247.7, 133.4, 192.9, 587.7, 403.6, 68.6, 115.6, 54.0, 282.6, 206.8, 227.2, 68.0, 159.2);
INSERT INTO ExpendituresByType VALUES(2023, 4866.5, 4627.7, 4107.4, 1519.7, 1311.7, 978.0, 159.9, 173.8, 270.2, 147.8, 211.3, 646.7, 449.7, 72.8, 124.1, 57.4, 302.9, 160.2, 238.8, 72.1, 166.6);

In [21]:
source_of_funds = pd.read_excel('nhe23-tables/table_3_source_of_funds.xlsx')
print(source_of_funds.columns)
source_of_funds.head()

Index(['Year', 'National_Health_Expenditures_Billions',
       'Health_Consumption_Expenditures_Billions', 'Out_of_pocket_Billions',
       'Health_Insurance_Billions', 'Private_Health_Insurance_Billions',
       'Medicare_Billions', 'Medicaid_Billions', 'Federal _Billions',
       'State_and_Local_Billions', 'Other_Health_Insurance_Programs_Billions',
       'Other_Third_Party_Payers_and_Programs_and_Public_Health_Activity_Billions',
       'Investment_Billions'],
      dtype='object')

,Year,National_Health_Expenditures_Billions,Health_Consumption_Expenditures_Billions,Out_of_pocket_Billions,Health_Insurance_Billions,Private_Health_Insurance_Billions,Medicare_Billions,Medicaid_Billions,Federal _Billions,State_and_Local_Billions,Other_Health_Insurance_Programs_Billions,Other_Third_Party_Payers_and_Programs_and_Public_Health_Activity_Billions,Investment_Billions
0,1980,253.2,232.7,55.3,140.2,67.1,37.4,26.0,14.5,11.5,9.7,37.2,20.6
1,1990,718.7,670.2,133.8,431.1,225.9,110.2,73.7,42.6,31.1,21.4,105.3,48.6
2,2000,1366.0,1280.3,193.6,902.0,441.0,224.8,200.4,116.8,83.5,35.8,184.8,85.7
3,2001,1483.4,1393.4,200.9,995.9,483.4,247.7,224.1,132.2,91.9,40.7,196.7,90.0
4,2002,1631.0,1529.6,219.1,1098.1,537.5,265.4,248.1,145.3,102.8,47.1,212.3,101.5

In [57]:
for index, row in source_of_funds.iterrows():
    print(f"INSERT INTO SourceOfFunds VALUES({int(row['Year'])}, {row['National_Health_Expenditures_Billions']}, "
          f"{row['Health_Consumption_Expenditures_Billions']}, {row['Out_of_pocket_Billions']}, "
          f"{row['Health_Insurance_Billions']}, {row['Private_Health_Insurance_Billions']}, "
          f"{row['Medicare_Billions']}, {row['Medicaid_Billions']}, {row['Federal _Billions']}, "
          f"{row['State_and_Local_Billions']}, {row['Other_Health_Insurance_Programs_Billions']}, "
          f"{row['Other_Third_Party_Payers_and_Programs_and_Public_Health_Activity_Billions']}, "
          f"{row['Investment_Billions']});")

INSERT INTO SourceOfFunds VALUES(1980, 253.2, 232.7, 55.3, 140.2, 67.1, 37.4, 26.0, 14.5, 11.5, 9.7, 37.2, 20.6);
INSERT INTO SourceOfFunds VALUES(1990, 718.7, 670.2, 133.8, 431.1, 225.9, 110.2, 73.7, 42.6, 31.1, 21.4, 105.3, 48.6);
INSERT INTO SourceOfFunds VALUES(2000, 1366.0, 1280.3, 193.6, 902.0, 441.0, 224.8, 200.4, 116.8, 83.5, 35.8, 184.8, 85.7);
INSERT INTO SourceOfFunds VALUES(2001, 1483.4, 1393.4, 200.9, 995.9, 483.4, 247.7, 224.1, 132.2, 91.9, 40.7, 196.7, 90.0);
INSERT INTO SourceOfFunds VALUES(2002, 1631.0, 1529.6, 219.1, 1098.1, 537.5, 265.4, 248.1, 145.3, 102.8, 47.1, 212.3, 101.5);
INSERT INTO SourceOfFunds VALUES(2003, 1770.4, 1661.8, 235.1, 1195.9, 589.3, 282.7, 269.0, 160.8, 108.2, 55.0, 230.7, 108.6);
INSERT INTO SourceOfFunds VALUES(2004, 1894.7, 1777.8, 248.4, 1288.0, 626.1, 311.1, 290.7, 172.3, 118.4, 60.0, 241.4, 116.9);
INSERT INTO SourceOfFunds VALUES(2005, 2026.6, 1901.0, 264.5, 1384.1, 671.1, 339.8, 309.4, 177.5, 131.8, 63.9, 252.5, 125.5);
INSERT INTO SourceOfFunds VALUES(2006, 2165.1, 2032.1, 277.9, 1486.0, 705.7, 403.7, 306.7, 173.9, 132.7, 70.0, 268.1, 133.0);
INSERT INTO SourceOfFunds VALUES(2007, 2305.5, 2159.3, 293.6, 1581.8, 748.6, 432.7, 325.9, 185.6, 140.3, 74.6, 284.0, 146.2);
INSERT INTO SourceOfFunds VALUES(2008, 2402.4, 2246.1, 300.1, 1663.0, 769.7, 467.0, 344.4, 203.2, 141.2, 81.9, 283.0, 156.3);
INSERT INTO SourceOfFunds VALUES(2009, 2492.7, 2345.5, 296.7, 1758.3, 794.8, 498.6, 374.7, 247.5, 127.2, 90.2, 290.5, 147.2);
INSERT INTO SourceOfFunds VALUES(2010, 2589.6, 2437.5, 301.5, 1832.6, 820.2, 519.5, 397.4, 266.5, 130.9, 95.6, 303.4, 152.1);
INSERT INTO SourceOfFunds VALUES(2011, 2676.5, 2517.8, 310.2, 1902.4, 851.0, 544.6, 406.7, 247.3, 159.5, 100.1, 305.2, 158.7);
INSERT INTO SourceOfFunds VALUES(2012, 2783.3, 2620.1, 323.2, 1971.5, 878.1, 568.3, 422.7, 243.3, 179.5, 102.4, 325.4, 163.2);
INSERT INTO SourceOfFunds VALUES(2013, 2855.9, 2692.9, 330.8, 2019.0, 879.3, 588.9, 445.0, 256.7, 188.3, 105.9, 343.0, 163.1);
INSERT INTO SourceOfFunds VALUES(2014, 3002.1, 2842.2, 340.4, 2150.6, 922.5, 617.3, 498.2, 305.9, 192.2, 112.6, 351.2, 159.9);
INSERT INTO SourceOfFunds VALUES(2015, 3165.5, 3000.7, 352.7, 2288.0, 976.3, 647.7, 543.0, 342.8, 200.2, 121.1, 360.0, 164.9);
INSERT INTO SourceOfFunds VALUES(2016, 3307.9, 3138.9, 364.9, 2394.5, 1028.3, 675.9, 564.9, 357.8, 207.0, 125.4, 379.5, 169.0);
INSERT INTO SourceOfFunds VALUES(2017, 3446.4, 3263.1, 370.3, 2493.4, 1077.8, 705.0, 578.5, 361.4, 217.1, 132.1, 399.4, 183.3);
INSERT INTO SourceOfFunds VALUES(2018, 3603.8, 3411.0, 386.2, 2609.0, 1124.3, 751.6, 596.5, 372.3, 224.2, 136.5, 415.9, 192.7);
INSERT INTO SourceOfFunds VALUES(2019, 3762.1, 3563.8, 403.0, 2717.5, 1152.9, 804.5, 615.1, 387.7, 227.4, 145.0, 443.2, 198.3);
INSERT INTO SourceOfFunds VALUES(2020, 4153.9, 3953.9, 398.1, 2811.9, 1147.9, 834.6, 672.3, 460.6, 211.7, 157.1, 743.9, 199.9);
INSERT INTO SourceOfFunds VALUES(2021, 4327.7, 4109.2, 440.9, 3028.4, 1230.3, 895.6, 736.2, 514.5, 221.7, 166.3, 639.9, 218.5);
INSERT INTO SourceOfFunds VALUES(2022, 4525.8, 4298.6, 471.5, 3245.6, 1313.8, 952.5, 807.5, 570.7, 236.8, 171.8, 581.5, 227.2);
INSERT INTO SourceOfFunds VALUES(2023, 4866.5, 4627.7, 505.7, 3558.6, 1464.6, 1029.8, 871.7, 591.4, 280.3, 192.5, 563.4, 238.8);

In [24]:
type_of_sponsors = pd.read_excel('nhe23-tables/table_5_type_of_sponsors.xlsx')
print(type_of_sponsors.columns)
type_of_sponsors.head()

Index(['Year', 'National_Health_Expenditures_Billions',
       'Business_Households_and_Other_Private_Billions',
       'Private_Business_Billions', 'Household_Billions',
       'Other_Private_Revenues_Billions', 'Government_Billions',
       'Federal_Billions', 'State_and_Local_Billions'],
      dtype='object')

,Year,National_Health_Expenditures_Billions,Business_Households_and_Other_Private_Billions,Private_Business_Billions,Household_Billions,Other_Private_Revenues_Billions,Government_Billions,Federal_Billions,State_and_Local_Billions
0,1987,514.5,349.8,119.5,189.3,41.0,164.7,86.4,78.4
1,1988,576.6,397.5,135.4,213.9,48.2,179.2,92.5,86.7
2,1989,642.2,440.0,154.7,233.7,51.7,202.2,105.5,96.6
3,1990,718.7,483.8,173.3,254.2,56.3,234.9,125.3,109.7
4,1991,786.0,517.5,187.0,270.3,60.2,268.5,146.6,121.9

In [58]:
for index, row in type_of_sponsors.iterrows():
    print(f"INSERT INTO TypeOfSponsors VALUES({int(row['Year'])}, {row['National_Health_Expenditures_Billions']}, "
          f"{row['Business_Households_and_Other_Private_Billions']}, {row['Private_Business_Billions']}, "
          f"{row['Household_Billions']}, {row['Other_Private_Revenues_Billions']}, {row['Government_Billions']}, "
          f"{row['Federal_Billions']}, {row['State_and_Local_Billions']});")

INSERT INTO TypeOfSponsors VALUES(1987, 514.5, 349.8, 119.5, 189.3, 41.0, 164.7, 86.4, 78.4);
INSERT INTO TypeOfSponsors VALUES(1988, 576.6, 397.5, 135.4, 213.9, 48.2, 179.2, 92.5, 86.7);
INSERT INTO TypeOfSponsors VALUES(1989, 642.2, 440.0, 154.7, 233.7, 51.7, 202.2, 105.5, 96.6);
INSERT INTO TypeOfSponsors VALUES(1990, 718.7, 483.8, 173.3, 254.2, 56.3, 234.9, 125.3, 109.7);
INSERT INTO TypeOfSponsors VALUES(1991, 786.0, 517.5, 187.0, 270.3, 60.2, 268.5, 146.6, 121.9);
INSERT INTO TypeOfSponsors VALUES(1992, 852.2, 549.2, 202.1, 281.1, 66.0, 303.0, 172.2, 130.8);
INSERT INTO TypeOfSponsors VALUES(1993, 914.9, 577.5, 214.2, 293.4, 70.0, 337.4, 193.6, 143.7);
INSERT INTO TypeOfSponsors VALUES(1994, 966.4, 602.6, 224.9, 304.1, 73.5, 363.8, 205.1, 158.7);
INSERT INTO TypeOfSponsors VALUES(1995, 1020.3, 636.8, 236.9, 321.6, 78.3, 383.5, 217.6, 165.9);
INSERT INTO TypeOfSponsors VALUES(1996, 1073.6, 669.3, 252.9, 332.7, 83.7, 404.3, 232.1, 172.2);
INSERT INTO TypeOfSponsors VALUES(1997, 1132.9, 708.1, 261.0, 356.1, 91.1, 424.8, 240.6, 184.2);
INSERT INTO TypeOfSponsors VALUES(1998, 1198.4, 765.2, 280.1, 384.2, 100.9, 433.2, 238.5, 194.7);
INSERT INTO TypeOfSponsors VALUES(1999, 1273.2, 817.1, 305.1, 406.4, 105.7, 456.1, 247.7, 208.4);
INSERT INTO TypeOfSponsors VALUES(2000, 1366.0, 878.0, 336.4, 437.5, 104.1, 488.0, 263.2, 224.7);
INSERT INTO TypeOfSponsors VALUES(2001, 1483.4, 927.0, 362.3, 461.7, 103.0, 556.4, 308.7, 247.7);
INSERT INTO TypeOfSponsors VALUES(2002, 1631.0, 1003.9, 388.5, 505.6, 109.9, 627.1, 351.5, 275.6);
INSERT INTO TypeOfSponsors VALUES(2003, 1770.4, 1082.6, 420.3, 543.6, 118.7, 687.8, 392.5, 295.3);
INSERT INTO TypeOfSponsors VALUES(2004, 1894.7, 1146.5, 441.3, 578.0, 127.2, 748.1, 429.9, 318.2);
INSERT INTO TypeOfSponsors VALUES(2005, 2026.6, 1223.4, 469.8, 616.3, 137.3, 803.2, 456.5, 346.7);
INSERT INTO TypeOfSponsors VALUES(2006, 2165.1, 1291.7, 483.1, 657.9, 150.6, 873.4, 503.9, 369.5);
INSERT INTO TypeOfSponsors VALUES(2007, 2305.5, 1373.1, 507.8, 694.7, 170.5, 932.5, 535.4, 397.0);
INSERT INTO TypeOfSponsors VALUES(2008, 2402.4, 1405.1, 509.9, 724.1, 171.1, 997.3, 588.8, 408.5);
INSERT INTO TypeOfSponsors VALUES(2009, 2492.7, 1402.5, 509.9, 726.6, 166.0, 1090.3, 687.7, 402.6);
INSERT INTO TypeOfSponsors VALUES(2010, 2589.6, 1432.3, 512.2, 746.0, 174.1, 1157.4, 739.7, 417.7);
INSERT INTO TypeOfSponsors VALUES(2011, 2676.5, 1482.2, 536.1, 767.5, 178.6, 1194.3, 738.2, 456.1);
INSERT INTO TypeOfSponsors VALUES(2012, 2783.3, 1559.7, 558.5, 804.2, 197.0, 1223.6, 740.1, 483.5);
INSERT INTO TypeOfSponsors VALUES(2013, 2855.9, 1593.1, 559.7, 827.6, 205.9, 1262.8, 759.4, 503.4);
INSERT INTO TypeOfSponsors VALUES(2014, 3002.1, 1642.0, 579.3, 856.8, 205.9, 1360.1, 842.9, 517.2);
INSERT INTO TypeOfSponsors VALUES(2015, 3165.5, 1711.7, 596.7, 901.0, 214.0, 1453.8, 916.8, 537.0);
INSERT INTO TypeOfSponsors VALUES(2016, 3307.9, 1789.6, 624.7, 937.0, 228.0, 1518.3, 960.9, 557.4);
INSERT INTO TypeOfSponsors VALUES(2017, 3446.4, 1879.7, 655.3, 975.3, 249.1, 1566.7, 990.0, 576.7);
INSERT INTO TypeOfSponsors VALUES(2018, 3603.8, 1962.9, 684.7, 1020.5, 257.7, 1640.9, 1044.8, 596.0);
INSERT INTO TypeOfSponsors VALUES(2019, 3762.1, 2043.3, 707.2, 1063.5, 272.6, 1718.7, 1108.6, 610.2);
INSERT INTO TypeOfSponsors VALUES(2020, 4153.9, 2041.6, 691.9, 1077.7, 272.1, 2112.2, 1512.1, 600.1);
INSERT INTO TypeOfSponsors VALUES(2021, 4327.7, 2198.2, 754.1, 1144.6, 299.5, 2129.5, 1486.1, 643.4);
INSERT INTO TypeOfSponsors VALUES(2022, 4525.8, 2329.9, 805.7, 1233.0, 291.3, 2195.9, 1514.0, 681.9);
INSERT INTO TypeOfSponsors VALUES(2023, 4866.5, 2539.0, 894.0, 1316.6, 328.4, 2327.5, 1566.2, 761.3);

In [47]:
total_expenditures_in_real_dollars = pd.read_csv('nhe23-tables/total_expenditure_in_real_dolars_2017.csv')
print(total_expenditures_in_real_dollars.columns)
total_expenditures_in_real_dollars.head()

Index(['Year', 'National_Health_Expenditures_Billions',
       'Personal_Health_Care_Billions', 'Hospital_Care_Billions',
       'Physician_and_Clinical_Services_Billions',
       'Other_Professional_Services_Billions', 'Dental_Services_Billions',
       'Other_Health_Residential_and_Personal_Care_Billions',
       'Home_Health_Care_Billions',
       'Nursing_Home_Facilities_and_Continuing_Care_Retirement_Communities_Billions',
       'Prescription_Drugs_Billions',
       'Other_Non-Durable_Medical_Products_Billions',
       'Durable_Medical_Equipment_Billions',
       'Government_Administration_Billions',
       'Net_Cost_of_Health_Insurance_Billions',
       'Government_Public_Health_Actitives_Billions', 'Research_Billions',
       'Structures_and_Equipment_Billions'],
      dtype='object')

,Year,National_Health_Expenditures_Billions,Personal_Health_Care_Billions,Hospital_Care_Billions,Physician_and_Clinical_Services_Billions,Other_Professional_Services_Billions,Dental_Services_Billions,Other_Health_Residential_and_Personal_Care_Billions,Home_Health_Care_Billions,Nursing_Home_Facilities_and_Continuing_Care_Retirement_Communities_Billions,Prescription_Drugs_Billions,Other_Non-Durable_Medical_Products_Billions,Durable_Medical_Equipment_Billions,Government_Administration_Billions,Net_Cost_of_Health_Insurance_Billions,Government_Public_Health_Actitives_Billions,Research_Billions,Structures_and_Equipment_Billions
0,1980,-,852.0,451.2,129.8,13.3,79.8,34.8,8.1,65.0,80.0,17.9,10.3,-,-,-,-,-
1,1990,-,"1,230.7",544.4,236.1,34.0,95.9,55.1,20.9,111.3,106.7,23.8,20.3,-,-,-,-,-
2,2000,-,"1,730.8",678.2,357.6,53.6,113.6,101.3,39.6,140.8,205.7,26.8,29.9,-,-,-,-,-
3,2010,"$2,861.9","2,403.6",910.1,526.2,77.1,125.5,149.2,74.2,159.7,295.1,50.5,41.3,34.7,178.9,86.0,56.9,102.7
4,2011,"$2,890.1","2,434.2",918.0,542.8,79.2,125.1,148.4,78.5,161.3,286.5,55.9,41.7,36.9,172.0,82.0,56.1,108.9

In [48]:
df = total_expenditures_in_real_dollars
df.replace(' - ', np.nan, inplace=True)  # Replace '-' with NaN
df['National_Health_Expenditures_Billions'] = (
    df['National_Health_Expenditures_Billions']
    .str.replace('$', '')  # Remove dollar signs
    .str.replace(',', '')  # Remove commas
    .astype(float)  # Convert to float
)
df['Personal_Health_Care_Billions'] = (
    df['Personal_Health_Care_Billions']
    .str.replace(',', '')  # Remove commas
    .astype(float)  # Convert to float
)

# Result
df

,Year,National_Health_Expenditures_Billions,Personal_Health_Care_Billions,Hospital_Care_Billions,Physician_and_Clinical_Services_Billions,Other_Professional_Services_Billions,Dental_Services_Billions,Other_Health_Residential_and_Personal_Care_Billions,Home_Health_Care_Billions,Nursing_Home_Facilities_and_Continuing_Care_Retirement_Communities_Billions,Prescription_Drugs_Billions,Other_Non-Durable_Medical_Products_Billions,Durable_Medical_Equipment_Billions,Government_Administration_Billions,Net_Cost_of_Health_Insurance_Billions,Government_Public_Health_Actitives_Billions,Research_Billions,Structures_and_Equipment_Billions
0,1980,NaN,852.0,451.2,129.8,13.3,79.8,34.8,8.1,65.0,80.0,17.9,10.3,NaN,NaN,NaN,NaN,NaN
1,1990,NaN,1230.7,544.4,236.1,34.0,95.9,55.1,20.9,111.3,106.7,23.8,20.3,NaN,NaN,NaN,NaN,NaN
2,2000,NaN,1730.8,678.2,357.6,53.6,113.6,101.3,39.6,140.8,205.7,26.8,29.9,NaN,NaN,NaN,NaN,NaN
3,2010,2861.9,2403.6,910.1,526.2,77.1,125.5,149.2,74.2,159.7,295.1,50.5,41.3,34.7,178.9,86.0,56.9,102.7
4,2011,2890.1,2434.2,918.0,542.8,79.2,125.1,148.4,78.5,161.3,286.5,55.9,41.7,36.9,172.0,82.0,56.1,108.9
5,2012,2958.2,2488.2,943.7,558.0,82.3,124.2,153.5,81.6,161.3,281.9,60.0,44.0,37.7,179.8,83.4,53.9,114.8
6,2013,2996.9,2513.0,953.7,568.8,82.6,121.9,156.2,84.6,161.5,278.1,62.3,44.7,40.5,190.3,85.2,51.1,116.7
7,2014,3098.0,2603.9,976.6,595.4,86.1,122.9,160.7,87.8,163.9,300.9,65.4,45.3,44.3,200.5,86.4,49.3,113.9
8,2015,3241.7,2739.4,"1,017.7",641.5,90.5,125.4,171.0,91.9,165.0,320.1,70.0,46.7,43.6,204.0,87.7,48.7,118.4
9,2016,3344.6,2829.8,"1,053.2",679.7,94.3,128.2,176.5,94.7,166.1,316.5,73.8,46.9,45.2,207.3,92.2,48.8,121.5
10,2017,3446.4,2901.3,"1,077.6",709.4,96.9,131.1,184.0,99.4,163.4,315.7,76.3,47.5,44.1,222.4,95.4,50.9,132.4
11,2018,3525.6,2973.2,"1,096.2",730.6,104.2,133.7,187.0,103.1,162.1,326.0,81.1,49.5,45.5,221.5,95.4,52.5,137.8
12,2019,3642.6,3081.0,"1,142.6",756.0,109.7,136.8,188.0,106.7,162.4,342.0,85.2,51.9,45.4,221.6,102.8,54.1,138.4
13,2020,3906.7,3206.4,"1,175.4",793.0,115.3,128.7,197.0,114.7,174.5,360.6,95.7,53.1,45.0,238.8,222.4,56.5,135.1
14,2021,4007.9,3338.8,"1,199.9",828.8,128.3,148.6,200.6,112.9,160.5,393.7,108.2,63.7,47.1,231.7,186.5,57.0,147.8
15,2022,4064.9,3423.6,"1,204.1",862.5,130.8,142.3,211.2,117.5,165.0,422.3,112.5,65.9,46.5,227.1,171.9,59.4,139.6
16,2023,4245.3,3645.4,"1,294.7",921.3,146.2,143.0,217.7,124.8,170.6,460.0,113.4,67.0,47.4,231.3,131.7,60.7,138.0

In [59]:
for index, row in df.iterrows():
    print(f"INSERT INTO TotalExpenditureInRealDollars VALUES("
          f"{row['Year']}, "  # No quotes for integer
          f"{'NULL' if pd.isna(row['National_Health_Expenditures_Billions']) else row['National_Health_Expenditures_Billions']}, "
          f"{'NULL' if pd.isna(row['Personal_Health_Care_Billions']) else row['Personal_Health_Care_Billions']}, "
          f"{'NULL' if pd.isna(row['Hospital_Care_Billions']) else row['Hospital_Care_Billions']}, "
          f"{'NULL' if pd.isna(row['Physician_and_Clinical_Services_Billions']) else row['Physician_and_Clinical_Services_Billions']}, "
          f"{'NULL' if pd.isna(row['Other_Professional_Services_Billions']) else row['Other_Professional_Services_Billions']}, "
          f"{'NULL' if pd.isna(row['Dental_Services_Billions']) else row['Dental_Services_Billions']}, "
          f"{'NULL' if pd.isna(row['Other_Health_Residential_and_Personal_Care_Billions']) else row['Other_Health_Residential_and_Personal_Care_Billions']}, "
          f"{'NULL' if pd.isna(row['Home_Health_Care_Billions']) else row['Home_Health_Care_Billions']}, "
          f"{'NULL' if pd.isna(row['Nursing_Home_Facilities_and_Continuing_Care_Retirement_Communities_Billions']) else row['Nursing_Home_Facilities_and_Continuing_Care_Retirement_Communities_Billions']}, "
          f"{'NULL' if pd.isna(row['Prescription_Drugs_Billions']) else row['Prescription_Drugs_Billions']}, "
          f"{'NULL' if pd.isna(row['Other_Non-Durable_Medical_Products_Billions']) else row['Other_Non-Durable_Medical_Products_Billions']}, "
          f"{'NULL' if pd.isna(row['Durable_Medical_Equipment_Billions']) else row['Durable_Medical_Equipment_Billions']}, "
          f"{'NULL' if pd.isna(row['Government_Administration_Billions']) else row['Government_Administration_Billions']}, "
          f"{'NULL' if pd.isna(row['Net_Cost_of_Health_Insurance_Billions']) else row['Net_Cost_of_Health_Insurance_Billions']}, "
          f"{'NULL' if pd.isna(row['Government_Public_Health_Actitives_Billions']) else row['Government_Public_Health_Actitives_Billions']}, "
          f"{'NULL' if pd.isna(row['Research_Billions']) else row['Research_Billions']}, "
          f"{'NULL' if pd.isna(row['Structures_and_Equipment_Billions']) else row['Structures_and_Equipment_Billions']}"
          f");")

INSERT INTO TotalExpenditureInRealDollars VALUES(1980, NULL, 852.0,   451.2 , 129.8, 13.3, 79.8, 34.8, 8.1, 65.0, 80.0, 17.9, 10.3, NULL, NULL, NULL, NULL, NULL);
INSERT INTO TotalExpenditureInRealDollars VALUES(1990, NULL, 1230.7,   544.4 , 236.1, 34.0, 95.9, 55.1, 20.9, 111.3, 106.7, 23.8, 20.3, NULL, NULL, NULL, NULL, NULL);
INSERT INTO TotalExpenditureInRealDollars VALUES(2000, NULL, 1730.8,   678.2 , 357.6, 53.6, 113.6, 101.3, 39.6, 140.8, 205.7, 26.8, 29.9, NULL, NULL, NULL, NULL, NULL);
INSERT INTO TotalExpenditureInRealDollars VALUES(2010, 2861.9, 2403.6,   910.1 , 526.2, 77.1, 125.5, 149.2, 74.2, 159.7, 295.1, 50.5, 41.3,   34.7 ,   178.9 ,   86.0 ,   56.9 ,   102.7 );
INSERT INTO TotalExpenditureInRealDollars VALUES(2011, 2890.1, 2434.2,   918.0 , 542.8, 79.2, 125.1, 148.4, 78.5, 161.3, 286.5, 55.9, 41.7,   36.9 ,   172.0 ,   82.0 ,   56.1 ,   108.9 );
INSERT INTO TotalExpenditureInRealDollars VALUES(2012, 2958.2, 2488.2,   943.7 , 558.0, 82.3, 124.2, 153.5, 81.6, 161.3, 281.9, 60.0, 44.0,   37.7 ,   179.8 ,   83.4 ,   53.9 ,   114.8 );
INSERT INTO TotalExpenditureInRealDollars VALUES(2013, 2996.9, 2513.0,   953.7 , 568.8, 82.6, 121.9, 156.2, 84.6, 161.5, 278.1, 62.3, 44.7,   40.5 ,   190.3 ,   85.2 ,   51.1 ,   116.7 );
INSERT INTO TotalExpenditureInRealDollars VALUES(2014, 3098.0, 2603.9,   976.6 , 595.4, 86.1, 122.9, 160.7, 87.8, 163.9, 300.9, 65.4, 45.3,   44.3 ,   200.5 ,   86.4 ,   49.3 ,   113.9 );
INSERT INTO TotalExpenditureInRealDollars VALUES(2015, 3241.7, 2739.4,   1,017.7 , 641.5, 90.5, 125.4, 171.0, 91.9, 165.0, 320.1, 70.0, 46.7,   43.6 ,   204.0 ,   87.7 ,   48.7 ,   118.4 );
INSERT INTO TotalExpenditureInRealDollars VALUES(2016, 3344.6, 2829.8,   1,053.2 , 679.7, 94.3, 128.2, 176.5, 94.7, 166.1, 316.5, 73.8, 46.9,   45.2 ,   207.3 ,   92.2 ,   48.8 ,   121.5 );
INSERT INTO TotalExpenditureInRealDollars VALUES(2017, 3446.4, 2901.3,   1,077.6 , 709.4, 96.9, 131.1, 184.0, 99.4, 163.4, 315.7, 76.3, 47.5,   44.1 ,   222.4 ,   95.4 ,   50.9 ,   132.4 );
INSERT INTO TotalExpenditureInRealDollars VALUES(2018, 3525.6, 2973.2,   1,096.2 , 730.6, 104.2, 133.7, 187.0, 103.1, 162.1, 326.0, 81.1, 49.5,   45.5 ,   221.5 ,   95.4 ,   52.5 ,   137.8 );
INSERT INTO TotalExpenditureInRealDollars VALUES(2019, 3642.6, 3081.0,   1,142.6 , 756.0, 109.7, 136.8, 188.0, 106.7, 162.4, 342.0, 85.2, 51.9,   45.4 ,   221.6 ,   102.8 ,   54.1 ,   138.4 );
INSERT INTO TotalExpenditureInRealDollars VALUES(2020, 3906.7, 3206.4,   1,175.4 , 793.0, 115.3, 128.7, 197.0, 114.7, 174.5, 360.6, 95.7, 53.1,   45.0 ,   238.8 ,   222.4 ,   56.5 ,   135.1 );
INSERT INTO TotalExpenditureInRealDollars VALUES(2021, 4007.9, 3338.8,   1,199.9 , 828.8, 128.3, 148.6, 200.6, 112.9, 160.5, 393.7, 108.2, 63.7,   47.1 ,   231.7 ,   186.5 ,   57.0 ,   147.8 );
INSERT INTO TotalExpenditureInRealDollars VALUES(2022, 4064.9, 3423.6,   1,204.1 , 862.5, 130.8, 142.3, 211.2, 117.5, 165.0, 422.3, 112.5, 65.9,   46.5 ,   227.1 ,   171.9 ,   59.4 ,   139.6 );
INSERT INTO TotalExpenditureInRealDollars VALUES(2023, 4245.3, 3645.4,   1,294.7 , 921.3, 146.2, 143.0, 217.7, 124.8, 170.6, 460.0, 113.4, 67.0,   47.4 ,   231.3 ,   131.7 ,   60.7 ,   138.0 );